div#game {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #457db6;
    color: white;
    border: 6px solid #6fa0d1;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
div#game div {
    border: 6px solid #6fa0d1;
    font: bold 4em Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
